body {
    background: linear-gradient(45deg, rgb(198, 5, 62) 0%, rgb(91, 38, 104) 100%);
    min-height: 97.9vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.rec {
    position: relative;
    width: 60%;
    height: 550px;
    border-radius: 5px;
    display: flex;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 55px 85px;
    box-sizing: border-box;
}

.ct-1 {
    background-color: #baa1a7;
}

.ct-2 {
    background-color: #da8e9c;
}

.player-score {
    font-size: 80px;
    color: #ff0000;
    margin-bottom: 145px;
}

.player {
    font-size: 35px;
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: palevioletred;
    width: 65%;
    height: 80px;
    border-radius: 5px;
    padding: 15px;
    color: white;

}

.current-score {
    margin-top: 10px;
    font-size: 35px;
}

.btn {
    position: absolute;
    font-size: 17px;
    border-radius: 15px;
    border: none;
}

.btn-ng {
    top: 40px;
    left: 39%;
    padding: 7px 50px;
}

.btn-rd {
    top: 71%;
    left: 24rem;
    padding: 9px 18px;
}

.btn-ho {
    top: 82%;
    left: 25.4rem;
    padding: 9px 13px;
}